<div class="menu">
    <section id="centro">
        <h1>respuesta: {{respu.respo}}</h1>
    </section>
    <section id="contenido">
        <h2>Registro Ubicación</h2>
        <div class="campo"><p><i class="fas fa-map-marked-alt icon"></i>
            <input type="text" class="form-control input-lg text-center" placeholder="Zona" id="Zona" ng-model="formData.Zona"></p></div>
        <div class="campo"><p><i class="fas fa-map-marker-alt icon"></i>
            <input type="text" class="form-control input-lg text-center" placeholder="Barrio" id="Barrio" ng-model="formData.Barrio"></p></div>
        <p><button class="button" id="submit" name="submit" (click)="registrarUbicacion()">Registrar</button></p>

        <!--<br> {{msj}}-->
    </section>
</div>