/* You can add global styles to this file, and also import other style files */
body {
    /*background-image: url('1d865d79edc15bf002c3934cdc7b41cc.jpg');*/
    height:auto;
    width: auto;

}

input[type="text"],
input[type="password"] {
    font-size: 18px;
    width: 70%;
    padding: 7px;
    border: none;
}
h2 {
    color: white;
}
h3 {
    color: #cfb419;
}

.inf input[type="text"] {
    font-size: 14px;
    width: 10%;
    padding: 5px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.campo{
    background-color:white;
    float:center;
    margin-left: 10%;
    max-width: 80%;
    height: auto;
}

.icon {
    min-width: 60px;
    text-align: center;
    color: #1976d2 ;
}

.menu {
    margin-top: 100px;
    height: 82%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;

}

#contenido {
    width: 25%;
    background-color: #1976d2;
    min-height: 250px;
    text-align: center;
    border: 5px #cfb419 solid;
    border-radius: 20px;
    float: right;
}
#centro {
    width: 70%;
    background-color: none;
    min-height: 350px;
    margin-right: 2%;
    /*min-width: 500px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 5px #1976d2 solid;
    float: left;
}

.button {
    border: none;
    width: 80%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #cfb419;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;

}

.button:hover {
    background: #85720b;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.footer {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    /* Vertically center the text there */
    color: wheat;
}

.espacio {
    clear: both;
}
